/* App.css */

.app {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Altura total de la ventana de visualización */
  text-align: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cartas horizontalmente */
  gap: 1rem;
  padding: 1rem;
}

@media (min-width: 600px) {
  .card {
    flex: 0 0 calc(20% - 1rem); /* 5 cartas en pantallas anchas, ajustando el espacio entre ellas */
  }
}

@media (max-width: 599px) {
  .card {
    flex: 0 0 calc(50% - 1rem); /* 2 cartas en pantallas estrechas, ajustando el espacio entre ellas */
  }
}
